@using System.Threading.Tasks
@using Warden.Web.Extensions
@model Warden.Web.ViewModels.WatcherViewModel

<div class="row card-panel">
    <div class="col s12">
        <h5 class="custom-text">Watcher: @Model.Stats.Name</h5>
        <h5 class="custom-text"></h5>
    </div>
    <div class="col s12">
        <label>Type</label>
        <ul class="collection">
            <li class="collection-item">@Model.Stats.Type</li>
        </ul>
    </div>
    <div class="col s12">
        <label>Total uptime</label>
        <ul class="collection">
            <li class="collection-item">@Model.Stats.TotalUptime.ToString("F")%</li>
        </ul>
    </div>
    <div class="col s12">
        <label>Total downtime</label>
        <ul class="collection">
            <li class="collection-item">@Model.Stats.TotalDowntime.ToString("F")%</li>
        </ul>
    </div>
    <div class="col s12">
        <label>Valid checks</label>
        <ul class="collection">
            <li class="collection-item">@Model.Stats.TotalValidChecks</li>
        </ul>
    </div>
    <div class="col s12">
        <label>Invalid checks</label>
        <ul class="collection">
            <li class="collection-item">@Model.Stats.TotalInvalidChecks</li>
        </ul>
    </div>
</div>
<div class="row card-panel">
    <div class="col s12">
        <h5 class="custom-text">Checks (@Model.Checks.TotalResults)</h5>
        <div class="collection">
            @foreach (var check in Model.Checks.Items)
            {
                var watcherName = check.WatcherCheckResult.WatcherName;
                <a href="@Url.Action("Iteration", "Warden", new {organizationId = Model.OrganizationId, wardenId = Model.WardenId, iterationId = check.IterationId})#watcher-@watcherName" class="collection-item">
                    <span class="custom-text">
                        Completed at: @check.CompletedAt
                        @if (check.IsValid)
                        {
                            <i class="material-icons green-text lighten-2 right">thumb_up</i>
                        }
                        else
                        {
                            <i class="material-icons red-text lighten-2 right">thumb_down</i>
                        }
                    </span>
                </a>
            }
        </div>
    </div>
</div>
@Url.Paginate(Model.Checks, "Details")