<!DOCTYPE html>
<html>
<head>
    <title>Warden Web Panel</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/content/lib/materialize/dist/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="~/content/css/site.min.css" media="screen,projection"/>
    <script type="text/javascript" src="@Url.Content("~/content/lib/jquery/dist/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/lib/jquery-validation/dist/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/lib/materialize/dist/js/materialize.min.js")"></script>
    @RenderSection("head", false)
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
@Html.Partial("_Nav")
<div class="container">
    @RenderBody()
</div>
@Html.Partial("_Notifications")
<script type="text/javascript" src="@Url.Content("~/content/js/app.js")"></script>
<script type="text/javascript">
    $(function() {
        app.init({
            loginPath: "/login",
            logoutPath: "/logout"
        });
    });
</script>
@RenderSection("scripts", false)
</body>
</html>