@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="@Url.Action("Index", "Home")" class="brand-logo">Warden</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Default", "Dashboard")">Dashboard</a></li>
                    <li><a href="@Url.Action("Index", "Organization")">Organizations</a></li>
                    <li><a href="@Url.Action("Index", "Settings")">Settings</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Account")">Sign in</a></li>
                    <li><a href="@Url.Action("Register", "Account")">Sign up</a></li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                }
            </ul>
            <ul class="side-nav" id="nav-mobile">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Default", "Dashboard")">Dashboard</a></li>
                    <li><a href="@Url.Action("Index", "Organization")">Organizations</a></li>
                    <li><a href="@Url.Action("Index", "Settings")">Settings</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Account")">Sign in</a></li>
                    <li><a href="@Url.Action("Register", "Account")">Sign up</a></li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                }
            </ul>
        </div>
    </div>
</nav>