<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="@Url.Action("Index", "Home")" class="brand-logo">Warden</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Index", "Home")">Dashboards</a></li>
                    <li><a href="@Url.Action("Index", "Organization")">Organizations</a></li>
                    <li><a href="#!" data-logout>Sign out</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Account")">Sign in</a></li>
                    <li><a href="@Url.Action("Register", "Account")">Sign up</a></li>
                }
                <li><a href="@Url.Action("About", "Home")">About</a></li>
            </ul>
        </div>
    </div>
</nav>