@using Warden.Web.Core.Domain
@model global::Warden.Web.ViewModels.OrganizationViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@{
    var isOwner = Model.Owner.Id == Guid.Parse(User.Identity.Name);
}

<div class="row card-panel">
    <div class="col s12  m11">
        <h4 class="custom-text">Organization</h4>
    </div>
    <div class="col s12">
        <label>Name</label>
        <ul class="collection">
            <li class="collection-item">@Model.Organization.Name</li>
        </ul>
    </div>
    <div class="col s12">
        <label>Id</label>
        <ul class="collection">
            <li class="collection-item">
                @Model.Organization.Id
            </li>
        </ul>
    </div>
    <div class="col s12">
        <label>Owner</label>
        <ul class="collection">
            <li class="collection-item">@Model.Owner.Email</li>
        </ul>
    </div>
    <div class="col s12">
        <label>Automatic registration of new Wardens</label>
        <ul class="collection">
            <li class="collection-item">
                @Model.Organization.AutoRegisterNewWarden
            </li>
        </ul>
    </div>
    <div class="col s12 m1">
        <button class="btn-floating waves-effect waves-light custom tooltipped" data-clipboard="@Model.Organization.Id" data-tooltip="Copy id to clipboard">
            <i class="material-icons dp48">note_add</i>
        </button>
    </div>

    <div class="col s12 m5 offset-m1 l3">
        <a href="@Url.Action("AddWarden", new {id = Model.Organization.Id})" class="btn waves-effect waves-light custom">Add Warden</a>
    </div>
    @if (isOwner)
    {
        <div class="col s12 m5 l3">
            <a href="@Url.Action("AddUser", new {id = Model.Organization.Id})" class="btn waves-effect waves-light custom">Add User</a>
        </div>
        <div class="col s2 m1 right">
            <a class="btn-floating waves-effect waves-light red lighten-1 modal-trigger tooltipped"
               href="#modal-delete-organization" data-tooltip="Remove organization">
                <i class="material-icons dp48 right">delete</i>
            </a>
        </div>
        <div class="col s2 m1 right">
            @if (Model.Organization.AutoRegisterNewWarden)
            {
                <form asp-controller="Organization" asp-action="DisableAutoRegisterNewWarden" asp-anti-forgery="true" method="POST" data-block>
                    <button class="btn-floating waves-effect waves-light orange lighten-2 tooltipped" data-tooltip="Disable automatic registration of new Wardens"><i class="material-icons dp48 right">stop</i></button>
                </form>
            }
            else
            {
                <form asp-controller="Organization" asp-action="EnableAutoRegisterNewWarden" asp-anti-forgery="true" method="POST" data-block>
                    <button class="btn-floating waves-effect waves-light green lighten-2 tooltipped" data-tooltip="Enable automatic registration of new Wardens"><i class="material-icons dp48 right">play_arrow</i></button>
                </form>
            }
        </div>
        <div class="col s2 m1 right">
            <a class="btn-floating waves-effect waves-light custom tooltipped"
               href="@Url.Action("Edit", new {id = Model.Organization.Id})" data-tooltip="Edit organization">
                <i class="material-icons dp48 right">mode_edit</i>
            </a>
        </div>
    }
</div>
<div class="row card-panel">
    <div class="col s12">
        <h5 class="custom-text">Users (@Model.Organization.Users.Count())</h5>
        <div class="collection">
            @foreach (var user in Model.Organization.Users)
            {
                <a href="@Url.Action("UserDetails", "Organization", new {id = Model.Organization.Id, userId = user.Id})" class="collection-item ">
                    <span class="custom-text">@user.Email [@user.Role]</span>
                </a>
            }
        </div>
    </div>
</div>
<div class="row card-panel">
    <div class="col s12">
        <h5 class="custom-text">Wardens (@Model.Organization.Wardens.Count())</h5>
        <div class="collection">
            @foreach (var warden in Model.Organization.Wardens)
            {
                <a href="@Url.Action("Details", "Warden", new {organizationId = Model.Organization.Id, wardenId = warden.Id})" class="collection-item ">
                    <span class="custom-text">@warden.Name</span>
                </a>
            }
        </div>
    </div>
</div>
@Html.Partial("_DeleteOrganizationModal", Model.Organization.Id)

