@using Warden.Web.Core.Domain
@model global::Warden.Web.Core.Dto.OrganizationDto
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<div class="row card-panel">
    <div class="s12">
        <h4 class="custom-text">Organization: @Model.Name</h4>
    </div>
</div>
<div class="row card-panel">
    <div class="s12">
        <h5 class="custom-text">Wardens (@Model.Wardens.Count())</h5>
        <div class="s12">
            <a href="@Url.Action("AddWarden", new {id = Model.Id})" class="btn waves-effect waves-light custom">New Warden</a>
        </div>
        <div class="collection">
            @foreach (var warden in Model.Wardens)
            {
                <a href="@Url.Action("Details", "Dashboard", new {organizationId = Model.Id, wardenId = warden.Id})" class="collection-item">
                    <span class="custom-text">@warden.Name</span>
                </a>
            }
        </div>
    </div>
</div>
<div class="row card-panel">
    <div class="s12">
        <h5 class="custom-text">Users (@Model.Users.Count())</h5>
        <div class="s12">
            <a href="@Url.Action("AddUser", new {id = Model.Id})" class="btn waves-effect waves-light custom">New User</a>
        </div>
        <ul class="collection">
            @foreach (var user in Model.Users)
            {
                <li class="collection-item custom-text">
                    @user.Email [@user.Role]
                    @if (user.Role != OrganizationRole.Owner)
                    {
                        <i class="material-icons dp48 right">delete</i>
                    }
                </li>
            }
        </ul>
    </div>
</div>
<div class="row card-panel">
    <div class="s12">
        <h5 class="custom-text">API keys (@Model.ApiKeys.Count())</h5>
        <form asp-controller="Organization" asp-action="CreateApiKey" asp-route-id="@Model.Id" asp-anti-forgery="true" method="POST">
            <button class="btn waves-effect waves-light custom" type="submit" name="action">New API key</button>
        </form>
        <ul class="collection">
            @foreach (var apiKey in Model.ApiKeys)
            {
                <li class="collection-item custom-text">
                    <div class="row">
                        <div class="col s12 m11 l11">
                            @apiKey
                        </div>
                        <div class="col s12 m1 l1">
                            <i class="material-icons dp48 right">delete</i>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>