@using Warden.Web.Core.Domain
@model global::Warden.Web.ViewModels.OrganizationViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@{
    var isOwner = Model.Owner.Id == Guid.Parse(User.Identity.Name);
}

<div class="row card-panel">
    <div class="col s12  m11">
        <h4 class="custom-text">Organization</h4>
    </div>
    <div class="col s12">
        <label>Name</label>
        <ul class="collection">
            <li class="collection-item">@Model.Organization.Name</li>
        </ul>
    </div>
    <div class="col s12">
        <label>Id</label>
        <ul class="collection">
            <li class="collection-item">
                @Model.Organization.Id
            </li>
        </ul>
    </div>
    <div class="col s12">
        <label>Owner</label>
        <ul class="collection">
            <li class="collection-item">@Model.Owner.Email</li>
        </ul>
    </div>
    <div class="col s12">
        <label>Automatic registration of new Wardens</label>
        <ul class="collection">
            <li class="collection-item">
                @Model.Organization.AutoRegisterNewWarden
            </li>
        </ul>
    </div>
</div>
<div class="row card-panel">
    <div class="col s12">
        <h5 class="custom-text">Users (@Model.Organization.Users.Count())</h5>
        <div class="collection">
            @foreach (var user in Model.Organization.Users)
            {
                <a href="@Url.Action("UserDetails", "Organization", new {id = Model.Organization.Id, userId = user.Id})" class="collection-item ">
                    <span class="custom-text">@user.Email [@user.Role]</span>
                </a>
            }
        </div>
    </div>
</div>
<div class="row card-panel">
    <div class="col s12">
        <h5 class="custom-text">Wardens (@Model.Organization.Wardens.Count())</h5>
        <div class="collection">
            @foreach (var warden in Model.Organization.Wardens)
            {
                <a href="@Url.Action("Details", "Warden", new {organizationId = Model.Organization.Id, wardenId = warden.Id})" class="collection-item ">
                    <span class="custom-text">@warden.Name</span>
                </a>
            }
        </div>
    </div>
</div>
<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large custom">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li>
            <button class="btn-floating waves-effect waves-light custom tooltipped" data-clipboard="@Model.Organization.Id" data-tooltip="Copy id to clipboard" data-position="top">
                <i class="material-icons dp48">note_add</i>
            </button>
        </li>
        <li>
            <a href="@Url.Action("AddWarden", new {id = Model.Organization.Id})" class="btn-floating custom tooltipped" data-tooltip="Add Warden" data-position="top"><i class="material-icons">visibility</i></a>
        </li>
        @if (isOwner)
        {
            <li>
                @if (Model.Organization.AutoRegisterNewWarden)
                {
                    <form asp-controller="Organization" asp-action="DisableAutoRegisterNewWarden" asp-anti-forgery="true" method="POST" data-block>
                        <button class="btn-floating waves-effect waves-light custom tooltipped" data-position="top" data-tooltip="Disable automatic registration of new Wardens"><i class="material-icons dp48 right">stop</i></button>
                    </form>
                }
                else
                {
                    <form asp-controller="Organization" asp-action="EnableAutoRegisterNewWarden" asp-anti-forgery="true" method="POST" data-block>
                        <button class="btn-floating waves-effect waves-light custom tooltipped" data-position="top" data-tooltip="Enable automatic registration of new Wardens"><i class="material-icons dp48 right">play_arrow</i></button>
                    </form>
                }
            </li>
            <li>
                <a href="@Url.Action("AddUser", new {id = Model.Organization.Id})" class="btn-floating custom tooltipped" data-tooltip="Add user" data-position="top"><i class="material-icons">perm_identity</i></a>
            </li>

            <li>
                <a class="btn-floating waves-effect waves-light custom tooltipped"
                   href="@Url.Action("Edit", new {id = Model.Organization.Id})" data-position="top" data-tooltip="Edit organization">
                    <i class="material-icons dp48 right">assignment</i>
                </a>
            </li>
            <li>
                <a class="btn-floating waves-effect waves-light red lighten-1 modal-trigger tooltipped"
                   href="#modal-delete-organization" data-position="top" data-tooltip="Remove organization">
                    <i class="material-icons dp48 right">delete</i>
                </a>
            </li>
        }
    </ul>
</div>
@Html.Partial("_DeleteOrganizationModal", Model.Organization.Id)

