@using System.Threading.Tasks
@using Warden.Web.Core.Domain
@using Warden.Web.ViewModels
@model UserInOrganizationViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@{
    var isOwner = Model.OwnerId == Guid.Parse(User.Identity.Name);
}

<div class="row card-panel">
    <div class="col s12  m11">
        <h4 class="custom-text">User</h4>
    </div>
    <div class="col s12">
        <div>
            <label>Email</label>
            <ul class="collection">
                <li class="collection-item">@Model.User.Email</li>
            </ul>
        </div>
        <div>
            <label>Id</label>
            <ul class="collection">
                <li class="collection-item">@Model.User.Id</li>
            </ul>
        </div>
        <div>
            <label>Role</label>
            <ul class="collection">
                <li class="collection-item">@Model.User.Role</li>
            </ul>
        </div>
    </div>
    @if (isOwner && Model.User.Role != OrganizationRole.Owner)
    {
        <div class="col s2 m1 right">
            <a class="btn-floating waves-effect waves-light red lighten-1 modal-trigger tooltipped" data-user-id="@Model.User.Id"
               href="#modal-delete-user" data-remove-user-from-organization data-tooltip="Remove user from organization">
                <i class="material-icons dp48">delete</i>
            </a>
        </div>
    }
</div>

@Html.Partial("_DeleteUserModal", Model.OrganizationId)
