@model Warden.Web.ViewModels.DashboardViewModel
<div class="row">
    <div class="section">
        <div class="input-field col s12 m5">
            <select class="icons" data-bind="options: organizations, optionsText: 'name', value: selectedOrganization"></select>
            <label>Organizations</label>
        </div>
        <div class="input-field col s12 m5">
            <select class="icons" data-bind="options: selectedOrganization().wardens, optionsText: 'name', value: selectedWarden"></select>
            <label>Wardens</label>
        </div>
        <div class="input-field col s12 offset-m1 m1">
            <a href="#!" data-bind="click: changeWarden" class="btn waves-effect waves-light custom" title="Run Dashboard"><i class="material-icons">play_arrow</i></a> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card-panel">
            <div>
                <label>Total uptime</label>
                <ul class="collection">
                    <li class="collection-item" data-bind="text: totalUptimeFormatted"></li>
                </ul>
            </div>
            <div>
                <label>Total downtime</label>
                <ul class="collection">
                    <li class="collection-item" data-bind="text: totalDowntimeFormatted"></li>
                </ul>
            </div>
            <div>
                <label>Valid resources</label>
                <ul class="collection">
                    <li class="collection-item" data-bind="text: totalResourcesFormatted">
                    </li>
                </ul>
            </div>
            <div>
                <label>Most failing resources</label>
                <ul class="collection" data-bind="foreach: mostFailingResources">
                    <li class="collection-item" data-bind="text: infoFormatted"></li>
                </ul>
            </div>
            <div>
                <label>Latest check at</label>
                <ul class="collection">
                    <li class="collection-item" data-bind="text: latestCheckAtFormatted"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 m9">
        <canvas class="card-panel" id="main-chart"></canvas>
        <span class="custom-text"><strong>@Model.OrganizationName: @Model.WardenName</strong></span>
    </div>
</div>
<div class="row">
    <div class="col s12 m8">
        <div class="card-panel">
            <div>
                <label>Watcher name</label>
                <ul class="collection">
                    <li class="collection-item" data-bind="text: selectedWardenCheckResult().watcherCheckResult.watcherName"></li>
                </ul>
            </div>
            <div>
                <label>Watcher type</label>
                <ul class="collection">
                    <li class="collection-item" data-bind="text: selectedWardenCheckResult().watcherCheckResult.watcherType"></li>
                </ul>
            </div>
            <div>
                <label>Is valid</label>
                <ul class="collection">
                    <li class="collection-item" data-bind="text: selectedWardenCheckResult().watcherCheckResult.isValid"></li>
                </ul>
            </div>
            <div>
                <label>Description</label>
                <ul class="collection">
                    <li class="collection-item" data-bind="text: selectedWardenCheckResult().watcherCheckResult.description"></li>
                </ul>
            </div>
            <div>
                <label>Completed at</label>
                <ul class="collection">
                    <li class="collection-item" data-bind="text: selectedWardenCheckResult().completedAt"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 m3 offset-m1">
        <canvas class="card-panel" id="watchers-chart" width="300" height="400"></canvas>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/content/lib/signalr/jquery.signalR.min.js")"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="@Url.Content("~/content/lib/knockout/dist/knockout.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/dashboard.js")"></script>
    <script type="text/javascript">
        $(function() {
            dashboard.init({
                organizationId: "@Model.OrganizationId",
                wardenName: "@Model.WardenName",
                apiKey: "@Html.Raw(Model.ApiKey)"
            });
        });
    </script>
}
