@model Warden.Web.ViewModels.DashboardViewModel
<div id="loader">
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <h5 class="center-align custom-text">Preparing Dashboard...</h5>
                <div class="section">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dashboard" class="hide">
    <div class="row">
        <div class="section">
            <div class="input-field col s12 m5">
                <select class="icons" data-bind="options: organizations, optionsText: 'name', value: selectedOrganization"></select>
                <label>Organizations</label>
            </div>
            <div class="input-field col s12 m5">
                <select class="icons" data-bind="options: selectedOrganization().wardens, optionsText: 'name', value: selectedWarden"></select>
                <label>Wardens</label>
            </div>
            <div class="input-field col s12 offset-m1 m1">
                <a href="#!" data-bind="click: changeWarden" class="btn waves-effect waves-light custom tooltipped" data-tooltip="Open selected Dashboard"><i class="material-icons">launch</i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <div class="card-panel">
                <div>
                    <label>Total uptime</label>
                    <ul class="collection">
                        <li class="collection-item" data-bind="text: totalUptimeFormatted"></li>
                    </ul>
                </div>
                <div>
                    <label>Total downtime</label>
                    <ul class="collection">
                        <li class="collection-item" data-bind="text: totalDowntimeFormatted"></li>
                    </ul>
                </div>
                <div>
                    <label>Total iterations</label>
                    <ul class="collection">
                        <li class="collection-item" data-bind="text: totalIterationsFormatted">
                        </li>
                    </ul>
                </div>
                <div>
                    <label>Most failing resources</label>
                    <div class="collection" data-bind="foreach: mostFailingResources">
                        <a data-bind="attr: { href: url }" target="_blank" class="collection-item"><span data-bind="text: infoFormatted" class="custom-text"></span></a>
                    </div>
                </div>
                <div>
                    <label>Latest check at</label>
                    <ul class="collection">
                        <li class="collection-item" data-bind="text: latestCheckAtFormatted"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m9">
            <canvas class="card-panel" id="main-chart"></canvas>
            <a href="@Url.Action("Details", "Organization", new {id = Model.OrganizationId})" target="_blank" class="collection-item tooltipped" data-tooltip="Open organization details">
                <strong><span class="custom-text">@Model.OrganizationName</span></strong>
            </a>
            <a href="@Url.Action("Details", "Warden", new {organizationId = Model.OrganizationId, wardenId = Model.WardenId})" target="_blank" class="collection-item tooltipped right" data-tooltip="Open Warden details">
                <strong><span class="custom-text">@Model.WardenName</span></strong>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8">
            <div class="card-panel">
                <div>
                    <label>Watcher name</label>
                    <div class="collection">
                        <a data-bind="attr: { href: selectedWardenCheckResult().url }" target="_blank" class="collection-item"><span data-bind="text: selectedWardenCheckResult().watcherName" class="custom-text"></span></a>
                    </div>
                </div>
                <div>
                    <label>Watcher type</label>
                    <ul class="collection">
                        <li class="collection-item" data-bind="text: selectedWardenCheckResult().watcherType"></li>
                    </ul>
                </div>
                <div>
                    <label>Is valid</label>
                    <ul class="collection">
                        <li class="collection-item" data-bind="text: selectedWardenCheckResult().isValid"></li>
                    </ul>
                </div>
                <div>
                    <label>Description</label>
                    <ul class="collection">
                        <li class="collection-item" data-bind="text: selectedWardenCheckResult().description"></li>
                    </ul>
                </div>
                <div>
                    <label>Completed at</label>
                    <ul class="collection">
                        <li class="collection-item" data-bind="text: selectedWardenCheckResult().completedAt"></li>
                    </ul>
                </div>
                <div>
                    <label>Exception</label>
                    <ul class="collection">
                        <li class="collection-item" data-bind="html: selectedWardenCheckResult().exceptionFormatted"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m3 offset-m1">
            <canvas class="card-panel" id="watchers-chart" width="300" height="400"></canvas>
            <strong class="custom-text" data-bind="text: totalResourcesFormatted">
            </strong>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/content/lib/signalr/jquery.signalR.min.js")"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="@Url.Content("~/content/lib/knockout/dist/knockout.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/dashboard.js")"></script>
    <script type="text/javascript">
        $(function() {
            dashboard.init({
                organizationId: "@Model.OrganizationId",
                wardenName: "@Model.WardenName",
                wardenId: "@Model.WardenId",
                apiKey: "@Html.Raw(Model.ApiKey)",
                totalWatchers: parseInt("@Model.TotalWatchers"),
                refreshStatsIntervalSeconds: 10
            });
        });
    </script>
}
