@using System.Threading.Tasks
@using Warden.Web.Extensions
@using Warden.Web.ViewModels
@model Warden.Web.ViewModels.WardenViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<div class="row card-panel">
    <div class="col s12">
        <h4 class="custom-text">Warden</h4>
    </div>
    <div class="col s12">
        <label>Name</label>
        <ul class="collection">
            <li class="collection-item">@Model.Stats.WardenName</li>
        </ul>
    </div>
    <div class="col s12">
        <label>Total uptime</label>
        <ul class="collection">
            <li class="collection-item">@Model.Stats.TotalUptime.ToString("F")%</li>
        </ul>
    </div>
    <div class="col s12">
        <label>Total downtime</label>
        <ul class="collection">
            <li class="collection-item">@Model.Stats.TotalDowntime.ToString("F")%</li>
        </ul>
    </div>
    <div class="col s12">
        <label>Valid iterations</label>
        <ul class="collection">
            <li class="collection-item">@Model.Stats.TotalValidIterations</li>
        </ul>
    </div>
    <div class="col s12">
        <label>Invalid iterations</label>
        <ul class="collection">
            <li class="collection-item">@Model.Stats.TotalInvalidIterations</li>
        </ul>
    </div>
    <div class="col s12">
        <a href="@Url.Action("Details", "Dashboard", new {organizationId = Model.OrganizationId, wardenId = Model.Id})" class="btn waves-effect waves-light custom">Dashboard</a>
    </div>
</div>
<div class="row card-panel">
    <div class="col s12">
        <h5 class="custom-text">Watchers (@Model.Watchers.Count())</h5>
        <div class="collection">
            @foreach (var watcher in Model.Watchers)
            {
                <a href="@Url.Action("Details", "Watcher", new {organizationId = Model.OrganizationId, wardenId = Model.Id, watcherName = watcher.Name})" class="collection-item">
                    <span class="custom-text">@watcher.Name</span>
                </a>
            }
        </div>
    </div>
</div>
<div class="row card-panel">
    <div class="col s12">
        <h5 class="custom-text">Iterations (@Model.Iterations.TotalResults)</h5>
        <div class="collection">
            @foreach (var iteration in Model.Iterations.Items)
            {
                <a href="@Url.Action("Iteration", "Warden", new {organizationId = Model.OrganizationId, wardenId = Model.Id, iterationId = iteration.Id})" class="collection-item">
                    <span class="custom-text">
                        Completed at: @iteration.CompletedAt, Watchers: @iteration.Results.Count() (@iteration.Results.Count(x => x.IsValid) valid, @iteration.Results.Count(x => !x.IsValid) invalid)
                        @if (iteration.IsValid)
                        {
                            <i class="material-icons green-text lighten-2 right">thumb_up</i>
                        }
                        else
                        {
                            <i class="material-icons red-text lighten-2 right">thumb_down</i>
                        }
                </span>
                </a>
            }
        </div>
    </div>
</div>
<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large custom">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating waves-effect waves-light custom tooltipped"
               href="@Url.Action("Edit", new {organizationId = Model.OrganizationId, wardenId = Model.Id})" data-tooltip="Edit Warden" data-position="top">
                <i class="material-icons dp48 right">assignment</i>
            </a>
        </li>
        <li>
            @if (Model.Stats.Enabled)
            {
                <form asp-controller="Warden" asp-action="Disable" asp-anti-forgery="true" method="POST">
                    <button class="btn-floating waves-effect waves-light custom tooltipped" type="submit" name="action" data-tooltip="Disable Warden" data-position="top"><i class="material-icons">stop</i></button>
                </form>
            }
            else
            {
                <form asp-controller="Warden" asp-action="Enable" asp-anti-forgery="true" method="POST">
                    <button class="btn-floating waves-effect waves-light custom tooltipped" type="submit" name="action" data-tooltip="Enable Warden" data-position="top">
                        <i class="material-icons">play_arrow</i>
                    </button>
                </form>
            }
        </li>

        <li>
            <a class="btn-floating waves-effect waves-light red lighten-1 modal-trigger tooltipped" data-warden-id="@Model.Id"
               href="#modal-delete-warden" data-remove-warden-from-organization data-tooltip="Remove Warden" data-position="top">
                <i class="material-icons dp48">delete</i>
            </a>
        </li>
    </ul>
</div>
@Url.Paginate(Model.Iterations, "Details")
@Html.Partial("_DeleteWardenModal", Model.OrganizationId)
